/*company information start */
.companes-container{
  display: block;
  margin: 0px;
  padding-bottom: 40px;
}

.companes-container .company-image{
  display: inline-block;
  padding-left: 20px;
  position: relative;
  bottom:100px
}

.companes-container .company-image img{
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.companes-container .company-information{
  display: inline-block;
  padding-left: 0px;
  height: 200px;
}

.company-name {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

.stock-value-child {
  display: inline-block;
  padding-left:10px;
  position: relative;
  top: -30px;
}

.stock-price{
  display: inline-block
}

.stock-price-change{
  display: inline-block;
  font-size: 25px;
  padding-left: 10px;
  color: gray;
}

.stock-price .stock-value-price {
  font-size:50px;
}

.stock-price-date {
  color: gray;
}

@media(max-width:767px){
  .companes-container .company-image {
    position: relative;
    top:10px;
  }
}
/*company information end */

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 2px solid #ccc;
  background-color: white;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 22px;
  font-size: 20px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: blue;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 4px solid #0d6efd;
  color: blue;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}