{% extends 'base.html' %}
{% block content %}
            <div class="  dasboaed-community  ">
                <ul class="finance-education">
                    <!--<li class="activee  community" data-cont=".finance-ideaContent  .education-ideaContent  .video-ideaContent"> Community  </li> -->
                    <li class=" finance-idea   " data-cont=".finance-ideaContent" >  Finance Idea </li>
                    <li class="   Eduction-Ideas " data-cont=".education-ideaContent" >   Eduction Ideas </li>
                    <li  class="   Video-Ideas" data-cont=".video-ideaContent" >  Video Ideas </li>
                    <li class="infulance-People" data-cont=".Infulance-PeopleContent"> infulance People </li>
                </ul>
                <br>
                <div class="community-content">
                    <div class="finance-ideaContent">
                        <p> 1 </p>
                    </div>
                    <div class="education-ideaContent">
                        <p> 2 </p>
                    </div>
                    <div class="video-ideaContent">
                        <p> 3 </p>
                    </div>
                    <div class="Infulance-PeopleContent">
                        <p> 4 </p>
                    </div>
                </div>
            </div>
    </div>
    </div>
     
</body>
</html>


{% endblock %}
