{% extends 'base.html' %}
{% block content %}
        <!--  start  EducationCommunity  -->
        <h1 class="p-relative">  Community </h1>
        <div class="  dasboaed-community  ">
            <ul class="finance-education">
                <!--<li class="activee  community" data-cont=".finance-ideaContent  .education-ideaContent  .video-ideaContent"> Community  </li> -->
                <li class=" finance-idea   " data-cont=".finance-ideaContent" >  Coins  </li>
                <li class="   Eduction-Ideas " data-cont=".education-ideaContent" >   Eduction Ideas </li>
                <!-- <li  class="   Video-Ideas" data-cont=".video-ideaContent" >  Video Ideas </li> -->
                <li class="infulance-People" data-cont=".Infulance-PeopleContent"> infulance People </li>
            </ul>
            <br>
            <div class="community-content">
                <div class="finance-ideaContent">
                    <div class="coins" style="margin: 50px;">
                        <div class="egy"> 
                            <img src="../static/images/2016-635998053139637033-963_main.jpg"  style="width: 80px; max-width: 100%; height: 80px; border-radius: 50%;" alt="">
                            <div class="egydeatails">
                                <span class="egyrate">  </span>
                                
                                <br>
                                <span class="egyratedate">  </span>
                                
                                <br>
                                <span class="baseone">  </span>
                            </div>
                        </div>
                
                        <div class="usd"> 
                            <img src="../static/images/Usdollar100front.jpg"  style="width: 80px; max-width: 100%; height: 80px; border-radius: 50%;" alt="">
                            <div class="usddeatails">
                                <span class="usdrate">  </span>
                                <br>
                                <span class="usdratedate">  </span>
                                <br>
                                <span class="basetwo">  </span>
                            </div>
                        </div>
                        <div class="raw"> 
                            <img src="../static/images/6ae16067-5239-482f-8335-3348976f8b4c_16x9_1200x676 (1).webp"  style="width: 80px; max-width: 100%; height: 80px; border-radius: 50%;" alt="">
                            <div class="usddeatails">
                                <span class="raerate">  </span>
                                <br>
                                <span class="rawratedate">  </span>
                                <br>
                                <span class="basethree">  </span>
                            </div>
                        </div>
                        <div class="qar"> 
                            <img src="../static/images/202210191027402740.jpg"  style="width: 80px; max-width: 100%; height: 80px; border-radius: 50%;" alt="">
                            <div class="usddeatails">
                                <span class="qarrate">  </span>
                                <br>
                                <span class="qarratedate">  </span>
                                <br>
                                <span class="qarbase">  </span>
                            </div>
                        </div>
                
                        <div class="raw"> 
                            <img src="../static/images/elaosboa67031.jpeg"  style="width: 80px; max-width: 100%; height: 80px; border-radius: 50%;" alt="">
                            <div class="usddeatails">
                                <span class="kwdrate">  </span>
                                <br>
                                <span class="kwdratedate">  </span>
                                <br>
                                <span class="kwdbase">  </span>
                            </div>
                        </div>
                        <div class="raw"> 
                            <img src="../static/images/سعر-اليورو-اليوم-4-1-1024x548.jpg"  style="width: 80px; max-width: 100%; height: 80px; border-radius: 50%;" alt="">
                            <div class="usddeatails">
                                <span class="eurrate">  </span>
                                <br>
                                <span class="eurratedate">  </span>
                                <br>
                                <span class="eurbase">  </span>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="education-ideaContent">
                    <p> 2 </p>
                </div>
                <!-- <div class="video-ideaContent">
                    <p> 3 </p>
                </div> -->
                
                <div class="Infulance-PeopleContent">
                    <h3 style="margin: 20px;"> follow Infulance People newes >  </h3>
                    <div class="infulance">
                        <ul class="infulancetweetes">
                            <li class="tweeteProfile" style="position: relative;">
                                <div class="" style="position: relative;">
                                    <img src="../static/infulancepeople//Elon_Musk_Royal_Society_(crop2).jpg"  style="background-color: white; padding: 2px;  position: absolute; left: 50%; top:70%; transform: translate(-50%,50%); text-align: center; width: 70px; height: 70px; border-radius: 50%;" alt=""> 
                                
                                    <h4 class="name" style="position: absolute; left: 50%; margin-top: 100px; transform: translate(-50%,80%);"> Elon mask </h4>
                                </div>
                                <div   >
                                    <p style="text-align: center; margin: 0 10px 0px 10px;  position: absolute; top: 45%;"> He is the founder, CEO and chief engineer of SpaceX; angel investor, CEO and product architect of Tesla, Inc.; owner and CEO of Twitter; founder of the Boring Company; co-founder of Neuralink and OpenAI </p>
                                </div>
                                <br>
                                <br>
                                <button  class="btn btn-primary" style="text-align: center; position: absolute;  top: 87%; margin-top:10px; left: 50%; transform: translate(-50%,-50%);">   <a href="https://twitter.com/elonmusk" style="color: white;"> View More  </a> </button>

                            </li>

                            <li class="tweeteProfile" style="position: relative;">
                                <div class="" style="position: relative;">
                                    <img src="../static/infulancepeople//Jeff_Bezos_visits_LAAFB_SMC_(3908618)_(cropped).jpeg"  style="background-color: white; padding: 2px;  position: absolute; left: 50%; top:70%; transform: translate(-50%,50%); text-align: center; width: 70px; height: 70px; border-radius: 50%;" alt=""> 
                                
                                    <h4 class="name" style="position: absolute; left: 50%; margin-top: 100px; transform: translate(-50%,80%);"> Jeff Bezos </h4>
                                </div>
                                <div   >
                                    <p style="text-align: center; margin: 0 10px 0px 10px;  position: absolute; top: 45%;"> He is the founder, executive chairman, and former president and CEO of Amazon, the world's largest e-commerce and cloud computing company. With a net worth of US$125 billion as of April 2023 </p>
                                </div>
                                <br>
                                <br>
                                <button  class="btn btn-primary" style="text-align: center; position: absolute;  top: 87%; margin-top:10px; left: 50%; transform: translate(-50%,-50%);">   <a href="https://twitter.com/JeffBezos" style="color: white;"> View More  </a> </button>
                            </li>

                            <li class="tweeteProfile" style="position: relative;">
                                <div class="" style="position: relative;">
                                    <img src="../static/infulancepeople//M-hffw5a_400x400.jpg"  style="background-color: white; padding: 2px;  position: absolute; left: 50%; top:70%; transform: translate(-50%,50%); text-align: center; width: 70px; height: 70px; border-radius: 50%;" alt=""> 
                                
                                    <h4 class="name" style="position: absolute; left: 50%; margin-top: 100px; transform: translate(-50%,80%);"> Bill Gates </h4>
                                </div>
                                <div   >
                                    <p style="text-align: center; margin: 0 10px 0px 10px;  position: absolute; top: 45%;">  He is best known for co-founding software giant Microsoft, along with his late childhood friend Paul Allen.[2][3] During his career at Microsoft, Gates held the positions of chairman, chief executive officer (CEO) </p>
                                </div>
                                <br>
                                <br>
                                <button  class="btn btn-primary" style="text-align: center; position: absolute;  top: 87%; margin-top:10px; left: 50%; transform: translate(-50%,-50%);">   <a href="https://twitter.com/JeffBezos" style="color: white;"> View More  </a> </button>

                            </li>

                            <li class="tweeteProfile" style="position: relative;">
                                <div class="" style="position: relative;">
                                    <img src="../static/infulancepeople//nmUq34m9_400x400.png"  style="background-color: white; padding: 2px;  position: absolute; left: 50%; top:70%; transform: translate(-50%,50%); text-align: center; width: 70px; height: 70px; border-radius: 50%;" alt=""> 
                                
                                    <h4 class="name" style="position: absolute; margin-left: 70px;  margin-top: 100px; transform: translatey(80%);"> Federal Reserve System  </h4>
                                </div>
                                <div   >
                                    <p style="text-align: center; margin: 0 10px 0px 10px;  position: absolute; top: 45%;">  is the central banking system of the United States. It was created on December 23, 1913, with the enactment of the Federal Reserve Act, after a series of financial panics (particularly the panic of 1907) . </p>
                                </div>
                                <br>
                                <br>
                                <button  class="btn btn-primary" style="text-align: center; position: absolute;  top: 87%; margin-top:10px; left: 50%; transform: translate(-50%,-50%);">   <a href="https://twitter.com/mavigol" style="color: white;"> View More  </a> </button>

                            </li>

                            <li class="tweeteProfile" style="position: relative;">
                                <div class="" style="position: relative;">
                                    <img src="../static/infulancepeople//6ZcjdSaB_400x400.jpg"  style="background-color: white; padding: 2px;  position: absolute; left: 50%; top:70%; transform: translate(-50%,50%); text-align: center; width: 70px; height: 70px; border-radius: 50%;" alt=""> 
                                
                                    <h4 class="name" style="position: absolute; left: 50%; margin-top: 100px; transform: translate(-50%,80%);"> Nick Leeson </h4>
                                </div>
                                <div>
                                    <p style="text-align: center; margin: 0 10px 0px 10px;  position: absolute; top: 45%;"> Leeson was convicted of financial crime in a Singapore court and served over four years in Changi Prison.

                                        Between 2005 and 2011, Leeson had senior management roles at League of Ireland club Galway United. </p>
                                </div>
                                <br>
                                <br>
                                <button  class="btn btn-primary" style="text-align: center; position: absolute;  top: 87%; margin-top:10px; left: 50%; transform: translate(-50%,-50%);">   <a href="https://twitter.com/JeffBezos" style="color: white;"> View More  </a> </button>

                            </li>

                            <li class="tweeteProfile" style="position: relative;">
                                <div class="" style="position: relative;">
                                    <img src="../static/infulancepeople//pUSI1yPZ_400x400.png"  style="background-color: white; padding: 2px;  position: absolute; left: 50%; top:70%; transform: translate(-50%,50%); text-align: center; width: 70px; height: 70px; border-radius: 50%;" alt=""> 
                                
                                    <h4 class="name" style="position: absolute; left: 50%; margin-top: 100px; transform: translate(-50%,80%);"> Investing.com </h4>
                                </div>
                                <div>
                                    <p style="text-align: center; margin: 0 10px 0px 10px;  position: absolute; top: 45%;"> Real-time global financial market data, news, analysis, charts, tools & more • In 30 languages via our app or website • FREE, for everyone, anywhere!  </p>
                                </div>
                                <br>
                                <br>
                                <button  class="btn btn-primary" style="text-align: center; position: absolute;  top: 87%; margin-top:10px; left: 50%; transform: translate(-50%,-50%);">   <a href="https://twitter.com/JeffBezos" style="color: white;"> View More  </a> </button>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  end  EducationCommunity  -->
        <br>
        <h2 style="text-align: center;"> our reviews </h2>
        <br>
        <br>
        <div >
             <div class="container">
                <div class="title">
                    <h2 style="text-align: center;"> our reviews </h2>
                    <div class="underline">
    
                    </div>
                </div>
            </div> 
            <article class="review">
                <div class="img-container"  >
                     <span style="font-size: larger; position: sticky; top: 15%; left: 40%; transform: translate(50%,50%);  color: white; width: 40px; z-index: 999; height: 40px; border-radius: 50%;  display: flex; justify-content: center; align-items: center;  background-color: dodgerblue;"> <i sty class="fa-solid fa-quote-left"></i> </span>
                    <br>
                    <br>
                    <div style="position: relative;">
                        <img src="" id="personimg"  style="border-right: 8px solid dodgerblue; position: absolute; left: 50%; margin-top: 40px;  transform: translate(-50%,-50%); max-width: 100% ; border-radius: 50%; width: 150px; height: 150px; "   alt="logophoto">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h4 id="autor" style=" margin-top: 50px; font-size: large; text-align: center; ">  </h4>
                <p id=" job" style="   text-align: center;  font-size: large;">  </p>
                
                <p id="info" style=" font-size: large;  text-align: center; margin: 50px;">
                    
                </p>
                <div class="button-container" style="  font-size: large; text-align: center;">
                    <button class="prev-btn" >
                        <i class="fas fa-chevron-left">  </i>
                    </button>
                    <button class="next-btn">
                        <i class="fas fa-chevron-right"> </i>
                    </button>
                </div>
                <br>
                <br>
                <div style="position: relative;">
                    <button class="random-btn " style="position: absolute; left: 50%; transform: translate(-50%,-50%);  font-size: large; text-align: center;  "> suprise me </button>
                </div>
    
            </article>
        </div>
        <!-- end our review  -->
        <div id="articl"></div>  
        <br>
        <br> 
    </div>
    <!-- end  content  --> 
</div>
</div>          
</body>
</html>


{% endblock %}
