{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--  start  Companys  -->
<h1 class="p-relative" style="margin-top: 0px;"> Companys </h1>

<div class="companes-block">
    <div class="tesla-block">
        <a href="/Companys/TSLA">
        <img src="{% static 'images/tesla-symbol.jpg' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/TSLA"><h2>Tesla</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="Apple-block">
        <a href="/Companys/AAPL">
            <img src="{% static 'images/apple-logo-1656693488392.webp' %}" class="logoes" alt="logo photo">
            <div class="company-details">
                <a href="/Companys/AAPL"><h2>Apple</h2></a>
            </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="meta-block">
        <a href="/Companys/Meta">
            <img src="{% static 'images/images.png' %}" class="logoes" alt="logo photo">
            <div class="company-details">
                <a href="/Companys/META"><h2>Meta</h2></a>
            </div>
        </a>
        <br>
        <div class="scrap-value">
        </div>
    </div>
    <div class="google-block">
        <a href="/Companys/GOOG">
        <img src="{% static 'images/mkXgKuGBww7TQUASvxRxmR-320-80.jpg' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/GOOG"><h2>Google</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="amazon-block">
        <a href="/Companys/AMZN">
        <img src="{% static 'images/Amazon-Logo-Font-1-scaled.webp' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/AMZN"><h2>amazon</h2></a>
        </div>
    </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="microsoft-block">
        <a href="/Companys/MSFT">
        <img src="{% static 'images/microsoft-logo-icon-editorial-free-vector.webp' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/MSFT"><h2>microsoft</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="starpucs-block">
        <a href="/Companys/SBUX">
        <img src="{% static 'images/8tEvBrHEeMTTBt26SiniHM-1200-80.jpg' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/SBUX"><h2>starpucs</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="starpucs-block">
        <a href="/Companys/MBG">
        <img src="{% static 'images/تنزيل (1).jpg' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/MBG"><h2>Mercedes</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="google-block">
        <a href="/Companys/2222.SR">
        <img src="{% static 'images/تنزيل.jpg' %}" width="50px" height="50px" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/2222.SR"><h2>Aramcou</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
</div>
<br>
<br>
<br>
<h1 class="p-relative"> EG stock Companes </h1>
<div class="companes-block">
    <div class="starpucs-block">
        <a href="/Companys/CIBEY">
        <img src="{% static 'images/1604490577573.jpg' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/CIBEY"><h2>CIB</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="starpucs-block">
        <a href="/Companys/egs60081c014.ca">
        <img src="{% static 'images/بنك قطر الوطني.jpg' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/egs60081c014.ca"><h2>QNB</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="starpucs-block">
        <a href="/Companys/EGS48031C016.CA">
        <img src="{% static 'images/المصرية للاتصالات.jpg' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/EGS48031C016.CA"><h2>We</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="starpucs-block">
        <a href="/Companys/EGS3G0Z1C014.CA">
        <img src="{% static 'images/7e797731-ef48-494e-abf7-f3017230af35.jpg' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/EGS3G0Z1C014.CA"><h3>elsewedy ELe</h3></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="starpucs-block">
        <a href="/Companys/ODHN.SW">
        <img src="{% static 'images/aroscum.png' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/ODHN.SW"><h2>ORASCOM</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
    <div class="starpucs-block">
        <a href="/Companys/EGS3C251C013.CA">
        <img src="{% static 'images/twitter.png' %}" class="logoes" alt="logo photo">
        <div class="company-details">
            <a href="/Companys/EGS3C251C013.CA"><h2>ezzsteel</h2></a>
        </div>
        </a>
        <div class="scrap-value">
        </div>
    </div>
</div>
{% endblock %}