{% extends 'base.html' %}
{% block content %}

                    <h1 class="p-relative "> Profile </h1>
                    {% if user.is_authenticated %}
                    <div class="profile-page  m-20">
                            <!--   start overview -->
                            <div class="overview     rad-10   d-flex   align-center ">
                                <div class="img-box  text-center  p-20">
                                    <span class=" "> <i class="fa-solid fa-user  rad-half  mb-10  fs-20  fs-70"></i> </span>
                                        <!--<img src="" alt="" class=" rad-half  mb-10"> -->
                                        <h3 class="m-0 "> {{ user.fullName }}  </h3>
                                        <p class="  mt-10"> Stocks Numbers </p>
                                        <div class="level   rad-6    bg-eee  p-relative">
                                            <span style="width:70%"> </span>
                                        </div>
                                        <div class="rating mt-10   mb-10">
                                            <i class="fa-solid   fa-star   c-orange   fs-14"></i>
                                            <i class="fa-solid   fa-star   c-orange   fs-14"></i>
                                            <i class="fa-solid   fa-star   c-orange   fs-14"></i>
                                            <i class="fa-solid   fa-star   c-orange   fs-14"></i>
                                            <i class="fa-solid   fa-star   c-orange   fs-14"></i>
                                            <i class="fa-solid   fa-star   c-orange   fs-14"></i>
                                        </div>
                                        <p class="c-gray   m-0   fs-14">  {{ user.profile.points }}    </p>
                                </div>
                                <div class="info-box  w-full">
                                    <!--    start  information rows    1 -->
                                    <div class="box  p-20   d-flex  align-center">
                                        <h4 class="w-full   c-blue   fa-14   m-0">  General Information </h4>
                                        <div class=" fs-14    ">
                                            <span  class="c-gray">  Full Name: </span>
                                            <span>   {{ user.fullName }}  </span>
                                        </div>
                                        <div class=" fs-14    ">
                                            <span class="c-gray" >  Gender: </span>
                                            <span>   {{ user.profile.gender }}  </span>
                                        </div>
                                        <div class=" fs-14    ">
                                            <span class="c-gray">  Country: </span>
                                            <span>   {{ user.profile.country }}  </span>
                                        </div>
                                    </div>
                                    <!--    end information   rows    1 -->
                                    <!--    start  information rows    2 -->
                                    <div class="box  p-20   d-flex  align-center  w-full">
                                        <h4 class="w-full   c-blue   fa-14   m-0"> Personal Information </h4>
                                        <div class=" fs-14    ">
                                            <span  class="c-gray">  Email:  </span>
                                            <span>  {{ user.email }}  </span>
                                        </div>
            
                                        <div class=" fs-14    ">
                                            <span class="c-gray" >  Phone:  </span>
                                            <span>    {{ user.profile.phoneNumber }}  </span>
                                        </div>
            
                                        <div class=" fs-14    ">
                                            <span class="c-gray">  Date Of Birth:  </span>
                                            <span>     {{ user.profile.dateOfBirth }}  </span>
                                        </div>
                                         
                                    </div>
                                    <!--    end information   rows    2 -->
            
            
                                    <!--    start  information rows   3-->
                                    <div class="box  p-20   d-flex  align-center">
                                        <h4 class="w-full   c-blue   fa-14   m-0">  Job Information </h4>
                                        <div class=" fs-14    ">
                                            <span  class="c-gray">  Title: </span>
                                            <span>   {{ user.profile.Job }}  </span>
                                        </div>
            
                                        <div class=" fs-14    ">
                                            <span class="c-gray">  Years Of Experience: </span>
                                            <span>  {{ user.profile.yearsOfExperience }}   </span>
                                        </div>
                                         
                                    </div>
                                    <!--    end information   rows  3-->
                                    <!--    start  information rows 4 -->
                                    <div class="box  p-20   d-flex  align-center">
                                        <h4 class="w-full   c-blue  fa-14   m-0"> Billing Information </h4>
                                        <div class=" fs-14    ">
                                            <span  class="c-gray">  Payment Method: </span>
                                            <span>   {{ user.profile.paymentMethod }} </span>
                                        </div>
                                        <div class=" fs-14    ">
                                            <span class="c-gray">  Subscription </span>
                                            <span>   {{ user.profile.subscription }}  </span>
                                        </div>
                                         
                                    </div>
                                    <!--    end information   rows  4-->
                                </div>
                            </div>
                            {% if request.user.username == user_profile.user.username %}

                           <div class="create-account    d-flex gap-20   ">
                                <h3 class=""> Complete your information !   </h3>
                                <div>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                            Lets update your Account information
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel"> User Information </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div>
                                                        <form id="userProfileForm" method="post" action="/profile" enctype="multipart/form-data" class="was-validated">
                                                            {% csrf_token %}
                                                            {{ form.non_field_errors }}
                                                            <div class="form-group">
                                                                <input type="file" name="profile_photo">
                                                                <button type="submit">Upload</button>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="{{ form.lastName.id_for_label }}">Full Name</label>
                                                                <p><input type="text" name="lastName" class="w-full form-control p-2" placeholder="Please write your Name" required></p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="{{ form.gender.id_for_label }}">Gender</label>
                                                                <p><input type="text" name="gender" class="w-full form-control p-2" placeholder="Please write your Gender" required></p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="{{ form.country.id_for_label }}">Country</label>
                                                                <p><input type="text" name="country" class="w-full form-control p-2" placeholder="Please write your Country" required></p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="{{ form.email.id_for_label }}">Email</label>
                                                                <p><input type="email" name="email" class="w-full form-control p-2" placeholder="Please write your Email" required></p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="{{ form.phoneNumber.id_for_label }}">Phone</label>
                                                                <p><input type="number" name="phoneNumber" class="w-full form-control p-2" placeholder="Please write your Phone" required></p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="{{ form.dateOfBirth.id_for_label }}">Date Of Birth</label>
                                                                <p><input type="date" name="dateOfBirth" class="w-full form-control p-2" placeholder="Please write your Date Of Birth" required></p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="{{ form.jobTitle.id_for_label }}">Job</label>
                                                                <p><input type="text" name="jobTitle" class="w-full form-control p-2" placeholder="Please write your Job" required></p>
                                                            </div>
                                                            <div class="form-check pb-2">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" name="remember_me">
                                                                    Remember Me
                                                                </label>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                        </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                                                   
                            <!--   end   overview -->
                        {% else %}   
                            <div class="create-account    d-flex gap-20   ">
                                <h3 class="">  Dont Have An Account !   </h3>
                                <div>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                            Lets create an Account
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel"> User Information </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div>
                                                        <form id="userProfileForm" action="" class="was-validated">
                                                            <div class="form-group">
                                                                <label for="">  Full Name </label>
                                                                <p> <input type="text"  class="w-full  form-control p-2"  placeholder="please write Your Name" required> </p>
                                                            </div>
                                                            

                                                            <div class="form-group">
                                                                <label for="">  Gender </label>
                                                                <p> <input type="text"  class="w-full form-control   p-2"   placeholder="please write Your Gender" required> </p>
                                                            </div>
                                                        
                                                            <div class="form-group">
                                                                <label for="">  Country </label>
                                                                <p> <input type="text"  class="w-full form-control  p-2"   placeholder=" please write your  Country" required> </p>

                                                            </div>
                                                        
                                                            <div class="form-group">
                                                                <label for="">  Email </label>
                                                            <p> <input type="email"  class="w-full  form-control  p-2"   placeholder="please write your Email" required> </p>

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">  Phone </label>
                                                                <p> <input type="number"  class="w-full  form-control   p-2"   placeholder="please write your  Phone" required> </p>
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                <label for="">  
                                                                    Date Of Birth </label>
                                                                <p> <input type="date"  class="w-full   form-control  p-2"   placeholder="please write your Date Of Birth" required> </p>
                                                            </div>
                                                            

                                                            <div class="form-group">
                                                                <label for="">   job </label>
                                                                <p> <input type="text"  class="w-full  form-control   p-2"   placeholder="please write your  job" required> </p>
                                                            </div>

                                                                <div class="form-check pb-2">
                                                                <label class="form-check-label">
                                                                    <input  class="form-check-input" type="checkbox">
                                                                Remember Me</label>
                                                            </div>
                                                            <input type="submit"  class="btn btn-primary" value="submit">
                                                            </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary"> Understand </button>
                                                
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                                            <!-- start up botton -->

                                            <button id="up"> Up </button>

                                            <!-- end up botton -->
                                    </div>
                
                                    <!--  start bio  -->
                                    <div class="bio-chan    p-20   rad-10   mt-20">
                                        <h2  class=""> Change Your Bio  </h2>
                                        <div class="text-area d-flex c-gray">
                                            <br>
                                            <textarea name="bio" id="bio"  class="mb-20  c-gray" cols="95" rows="7"> write more about your self 
                                            </textarea>
                                            <a href="#" class=" change-bio  "> Change </a>
                                        </div>
                                    </div>
                      
                {% endif %}              
                                <!--  end  bio  -->
                        </div>
                    </div>
                </div>
</body>
</html>

{% endblock %}
{% block javascripts %}


<script>
    document.getElementById("userProfileForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the form from submitting normally

        // Extract the form values
        var fullName = document.getElementById("fullName").value;
        var gender = document.getElementById("gender").value;
        var country = document.getElementById("country").value;
        var email = document.getElementById("email").value;
        var phoneNumber = document.getElementById("phoneNumber").value;
        var dateOfBirth = document.getElementById("dateOfBirth").value;
        var Job = document.getElementById("Job").value;

        // ... extract other form values in a similar manner

        // Create a new UserProfile object
        var userProfile = new UserProfile(fullName, gender, country, email, phoneNumber, dateOfBirth,Job /* , other properties */);

        // Do something with the userProfile object (e.g., save to a database or display the data)
        console.log(userProfile);

        // Reset the form
        event.target.reset();
    });
</script>
<script>
    function UserProfile(fullName, gender, country /* , other properties */) {
        this.fullName = fullName;
        this.gender = gender;
        this.country = country;
        this.email =email;
        this.phoneNumber=phoneNumber;
        this.dateOfBirth=dateOfBirth;
        this.Job=Job;

        // ... assign other properties to the object
    }
</script>

{% endblock javascripts %}
