{% extends 'base.html' %}
{% block content %}
      <h1 class="p-relative"> Settings  </h1>
                <div class="setting-page   m-20   g-20">
                    <!--   start setting box -->
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="p-20 rad-10">
                    <h2 class="mt-0 mb-10">Site Control</h2>
                    <p class="mt-0 mb-20 c-gray fs-15">Control the website during maintenance</p>
                    <form method="POST">
                      {% csrf_token %}
                      <div class="mb-15 between-flex">
                        <div>
                          <br>
                          <span class="fs-20">Website Control</span>
                          <p class="mb-0 fs-15 c-gray">Open/close website and type reasons</p>
                        </div>
                        <div>
                          <br>
                          <label>
                            <input type="checkbox" class="togell-checkbox" name="site_control" {% if not settings.SITE_CLOSED %}checked{% endif %} value="{% if not settings.SITE_CLOSED %}open{% else %}close{% endif %}">
                            <div class="togell-switch">
                              <span class="one"></span>
                            </div>
                          </label>
                        </div>
                      </div>

                    </form>
                  </div>
                  <div id="general-info-settings" class="p-20 rad-10">
                    <!-- end setting box  -->
                      <!--   start setting box -->
                      <div class="p-20 rad-10">
                        <h2 class="mt-0 mb-10">General Info</h2>
                        <p class="mt-0 mb-20 c-gray fs-15">General Information About Your Account</p>
                        <form method="post">
                          {% csrf_token %}
                          <div class="mb-15">
                            <label class="f-14 c-gray d-block mb-10" for="first">First Name</label>
                            <input class="b-none border-ccc p-10 w-full rad-6 d-block" type="text" id="first" name="Firstname" value="{{ request.user.username }}" placeholder="First Name">
                          </div>
                          
                          <div class="mb-15">
                            <label class="f-14 c-gray d-block mb-10" for="last">Last Name</label>
                            <input class="b-none border-ccc p-10 w-full rad-6 d-block" type="text" id="last" name="Lastname" value="{{ request.user.username }}" placeholder="Last Name">
                          </div>
                          
                          <label class="f-14 c-gray d-block mb-10" for="email">Email</label>
                          
                          <div class="between-flex">
                            <input class="b-none border-ccc p-10 w-full rad-6 d-block" type="email" name="email" value="{{ request.user.email }}" placeholder="Email">
                            <button type="submit" class="c-blue button-shape" style="margin-left: 9px;">Save</button>
                          </div>
                        </form>
                      </div>
                        <!-- end setting box  -->
                        <!-- start up botton -->

                        <button id="up"> Up </button>

                        <!-- end up botton -->
                    <!--   start setting box -->
                    <div class="p-20 rad-10">
                        <h2 class="mt-0 mb-10">Security Information</h2>
                        <p class="mt-0 mb-20 c-gray fs-15">Security information about your account</p>
                    
                        <div class="sec-box mb-20 between-flex">
                            <div class="">
                                <span>Password</span>
                                <p class="c-gray mt-5 mb-0 fs-14">Last change:<br>27/12/2022</p>
                            </div>
                            <a class="button-shape bg-blue c-white p-10 rad-6" href="/setting">Change</a>
                        </div>
                    
                        <div class="sec-box mb-20 between-flex">
                            <div class="">
                                <span>Two-Factor Authentication</span>
                                <p class="c-gray mt-5 mb-0 fs-14">Enable/disable the feature</p>
                            </div>
                            {% if request.user.profile.two_factor_auth_enabled %}
                                <form method="post" action="/setting">
                                    {% csrf_token %}
                                    <input type="hidden" name="two_factor_auth" value="disable">
                                    <button type="submit" class="togell-switch btn btn-primary" value="disable" checked>
                                        <span class="one"></span>
                                    </button>
                                </form>
                            {% else %}
                                <form method="post" action="/setting">
                                    {% csrf_token %}
                                    <input type="hidden" name="two_factor_auth" value="enable">
                                    <button type="submit" class="togell-switch btn btn-primary" value="enable">
                                        <span class="one"></span>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    
                        <div class="sec-box mb-20 between-flex">
                            <div class="">
                                <span>Devices</span>
                                <p class="c-gray mt-5 mb-0 fs-14">Check the login devices list</p>
                            </div>
                            <a class="button-shape bg-eee col-black p-10 rad-6" href="#">Device</a>
                        </div>
                    </div>
                    <!-- end setting box -->
                    
                    <!-- start setting box -->
                    <div class="p-20 rad-10 social-boxes">
                        <h2 class="mt-0 mb-10">Social Info</h2>
                        <p class="mt-0 mb-20 c-gray fs-15">Social media information</p>
                        <!-- twitter -->
                        <div class="sec-box d-flex align-center mb-15">
                            <i class="fa-brands fa-twitter center-flex c-gray" style="margin-right: 7px;"></i>
                            <input class="w-full" type="text" name="twitter" placeholder="Twitter UserName" value="{{ request.user.profile.twitter_username }}" >
                        </div>
                    
                        <!-- facebook -->
                        <div class="sec-box d-flex align-center mb-15">
                            <i class="fa-brands fa-facebook center-flex c-gray" style="margin-right: 7px;"></i>
                            <input class="w-full" type="text" name="facebook" placeholder="Facebook UserName" value="{{ request.user.profile.facebook_username }}" >
                        </div>
                    
                        <!-- linked-in -->
                        <div class="sec-box d-flex align-center mb-15">
                            <i class="fa-brands fa-linkedin center-flex c-gray" style="margin-right: 7px;"></i>
                            <input class="w-full" type="text" name="linkedin" placeholder="LinkedIn UserName" value="{{ request.user.profile.linkedin_username }}" >
                        </div>

                        <!-- you-tube -->
                        <div class="  d-flex  align-center   mb-15">
                            <i class="fa-brands  fa-youtube  center-flex  c-gray" style="margin-right: 7px;"></i>
                            <input class="w-full" type="text" name="linkedin" placeholder="LinkedIn UserName" value="{{ request.user.profile.youtube_username }}" >
                        </div>
                      
                    </div>
                    <!-- end setting box  -->

                    <!--   start setting box -->
                    <div class="widget-control p-20 rad-10 social-boxes">
                        <h2 class="mt-0 mb-10">Widgets Control</h2>
                        <p class="mt-0 mb-20 c-gray fs-15">Show/Hide Widgets</p>
                        <form method="POST">
                          {% csrf_token %}
                          <div class="control d-flex align-center mb-15">
                            <input type="checkbox" id="one" name="show_quick_draft">
                            <label for="one">Quick Draft</label>
                          </div>
                      
                          <div class="control d-flex align-center mb-15">
                            <input type="checkbox" id="two" name="show_yearly_targets">
                            <label for="two">Yearly Targets</label>
                          </div>
                      
                          <div class="control d-flex align-center mb-15">
                            <input type="checkbox" id="three" name="show_tickets_statistics" checked>
                            <label for="three">Tickets Statistics</label>
                          </div>
                      
                          <div class="control d-flex align-center mb-15">
                            <input type="checkbox" id="four" name="show_latest_news" checked>
                            <label for="four">Latest News</label>
                          </div>
                      
                          <div class="control d-flex align-center mb-15">
                            <input type="checkbox" id="five" name="show_latest_tasks">
                            <label for="five">Latest Tasks</label>
                          </div>
                      
                          <div class="control d-flex align-center mb-15">
                            <input type="checkbox" id="six" name="show_top_search_items" checked>
                            <label for="six">Top Search Items</label>
                          </div>
                      
                          <button type="submit">Save</button>
                        </form>
                      </div>
                      <!-- end setting box  -->
                      </div>
        </div>
</body>
</html>

{% endblock %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const siteControlCheckbox = document.querySelector('input[name="site_control"]');
      const generalInfoSettings = document.getElementById('general-info-settings');
  
      function toggleGeneralInfoSettings() {
        if (siteControlCheckbox.checked) {
          generalInfoSettings.style.display = 'block';
        } else {
          generalInfoSettings.style.display = 'none';
        }
      }
  
      siteControlCheckbox.addEventListener('change', toggleGeneralInfoSettings);
      toggleGeneralInfoSettings(); // Call the function on page load
    });
  </script>
  
<script>
    setTimeout(function() {
      var messages = document.querySelector('.messages');
      messages.parentNode.removeChild(messages);
    }, 5000);
  </script>
    <script src="../static/Java-script/upbotton.js"></script>
    <script src="../static/Java-script/Translation.js"></script>
    <script src="../static/Java-script/main.js"></script>
    <script src="../static/js/all.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  
{% endblock javascripts %}

